<template>
    <div class="card-wrapper">
        <div class="md-card md-theme-default md-with-hover half-screen">
            <div class="md-card-header">
                <div class="md-title">Person</div>
                <div class="md-subhead">Edit person</div>

                <button type="button" class="md-button md-icon-button md-theme-default delete-button"
                        @click="deletePerson">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">delete</i>
                </button>
            </div>
            <div class="md-card-content" v-if="person">
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Name</label>
                    <input v-model="person.name" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Height</label>
                    <input v-model="person.height" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Mass</label>
                    <input v-model="person.mass" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Hair color</label>
                    <input v-model="person.hair_color" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Skin color</label>
                    <input v-model="person.skin_color" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Eye color</label>
                    <input v-model="person.eye_color" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Birth year</label>
                    <input v-model="person.birth_year" type="text" class="md-input">
                </div>
                <div class="md-input-container md-theme-default md-has-value">
                    <label>Gender</label>
                    <input v-model="person.gender" type="text" class="md-input">
                </div>
            </div>
            <div class="md-card-actions">
                <button type="button" class="md-button md-theme-default" @click="updatePerson(true)">
                    Save
                </button>
                <button type="button" class="md-button md-theme-default" @click="updatePerson(false)">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: "Person",
        data: () => ({
           person: null,
        }),
        computed: {
            storePerson() {
                return this.$store.getters.getPerson(+this.$route.params.id)
            },
        },
        watch: {
            storePerson(val) {
                if (val) {
                    this.person = JSON.parse(JSON.stringify(val))
                }
            },
        },
        mounted() {
            if (this.storePerson) {
                this.person = JSON.parse(JSON.stringify(this.storePerson))
            }
        },
        methods: {
            ...mapActions({
                updatePersonStorage: 'updatePerson',
                deletePersonStorage: 'deletePerson',
            }),
            updatePerson(save) {
                if (save) {
                    this.updatePersonStorage(this.person)
                }
                this.$router.push('/persons')
            },
            deletePerson() {
                this.deletePersonStorage(this.person);
                this.$router.push('/persons')
            },
        },
    }
</script>

<style scoped>
    .card-wrapper {
        padding: 20px;
    }

    .half-screen {
        max-width: 50%;
        margin: auto;
    }

    .delete-button {
        position: absolute;
        right: 15px;
        top: 15px;
    }
</style>