<template>
    <div>
        <the-table
                :columns="columns"
                :data="tableData"
                :maxHeight="maxHeight"
                :title="title"
                @edit="editEmit"
        >
        </the-table>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    import TheTable from '../components/table/TheTable';

    export default {
        name: "Persons",
        components: {
            TheTable,
        },
        data: () => ({
            maxHeight: '600px',
            title: 'Test title',
        }),
        computed: {
            ...mapGetters({
                tableData: 'getPersons',
                columns: 'getTitles',
            }),
        },
        methods: {
            editEmit(row) {
                this.$router.push(`persons/${row.id}`);
            },
        }
    }
</script>

<style scoped>

</style>