<template>
    <tr class="md-table-row">
        <td class="md-table-cell"
            v-for="(column, key) in columns"
            :key="key"
        >
            <div class="md-table-cell-container">
                {{ row[key] }}
            </div>
        </td>
        <td class="md-table-cell row-actions">
            <div class="md-table-cell-container">
                <button type="button" class="md-button md-icon-button show-columns-icon md-theme-default"
                        @click="$emit('edit', row)">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">edit</i>
                </button>
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "TableRow",
        props: {
            columns: {type: Object, required: true,},
            row: {type: Object, required: true,},
        },
        data: () => ({
            showColumnSettings: false,
        }),
    }
</script>

<style scoped>
    .row-checkbox {
        width: 45px;
    }

    .row-actions {
        width: 85px;
    }

    .select-container {
        background: #f2f2f2;
        color: #000;
        position: absolute;
        right: 35px;
        top: 55px;
        z-index: 99;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
        top: 65px !important;
    }
</style>

<style>
    .select-container .md-list li {
        min-width: 150px !important;
    }

    .select-container .md-button {
        width: 100% !important;
        height: 45px !important;
        padding: 0 15px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        color: rgba(0, 0, 0, 0.54) !important;
    }

    .select-container i {
        margin: 0 !important;
    }
</style>
