<template>
    <div class="table-container">
        <the-table-header
            :columns="columns"
            :title="title"
            :maxHeight="maxHeight"
            :query="query"
            :filters="filters"
            @sortChange="setSort"
            @filterChange="setFilter"
        ></the-table-header>
        <div class="md-table md-theme-default" :style="{'max-height': maxHeight, 'overflow': 'auto'}">
            <table>
                <the-table-body
                    :columns="columns"
                    :data="paginatedData"
                    @edit="editEmit"
                >
                </the-table-body>
            </table>
        </div>
        <the-table-footer
            :total="total"
            :query="query"
        ></the-table-footer>
    </div>
</template>

<script>
    import TheTableBody from './TheTableBody'
    import TheTableHeader from './TheTableHeader'
    import TheTableFooter from './TheTableFooter'

    export default {
        name: "TheTable",
        components: {
            TheTableBody,
            TheTableHeader,
            TheTableFooter,
        },
        props: {
            columns: { type: Object, required: true, },
            data: { type: Array, required: true, default: [], },
            maxHeight: { type: String, required: false, },
            title: { type: String, required: false, },
        },
        data:() => ({
            query: {
                interval: 10,
                offset: 0,
                sort: '',
                order: false,
            },
            filters: { },
        }),
        computed: {
            total() {
                return this.filteredData.length;
            },
            filteredData() {
                const filters = Object.keys(this.filters);
                return this.data.filter((item) => {
                    return filters.every(filter => item[filter].includes(this.filters[filter]))
                });
            },
            paginatedData() {
                return this.filteredData.slice(this.query.offset, this.query.offset + this.query.interval);
            }
        },
        methods: {
            setSort(val) {
                this.query.order = !this.query.order;
                this.query.sort = val;
                this.data.sort(this.sortFunction);
            },
            sortFunction(a, b) {
                if (a[this.query.sort] === null || a[this.query.sort] === undefined) {
                    return 1;
                } else if (b[this.query.sort] === null || b[this.query.sort] === undefined) {
                    return -1;
                }

                if (this.isNumeric(a[this.query.sort]) && this.isNumeric(b[this.query.sort])) {
                    if (this.query.order) {
                        return a[this.query.sort] - b[this.query.sort];
                    } else if (!this.query.order) {
                        return b[this.query.sort] - a[this.query.sort];
                    }
                } else if (this.isNumeric(a[this.query.sort])) {
                    return -1;
                } else if (this.isNumeric(b[this.query.sort])) {
                    return 1;
                }

                if (this.query.order) {
                    return a[this.query.sort] < b[this.query.sort] ? -1 : 1;
                } else if (!this.query.order) {
                    return a[this.query.sort] < b[this.query.sort] ? 1 : -1;
                }

                return 0;
            },
            isNumeric(val) {
                return !isNaN(val);
            },
            setFilter(filter) {
                this.query.offset = 0;
                this.$set(this.filters, filter.key, filter.value);
            },
            editEmit(payload) {
                this.$emit('edit', payload)
            },
        },
    }
</script>

<style>
    .md-table table {
        table-layout: fixed !important;
    }

    .md-table .md-table-head-container {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .md-table .md-table-head-text {
        height: 40px !important;
    }

    /*Scrollbar*/
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        background: #3f51b5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        border-radius: 1px;
    }
</style>
