<template>
    <div class="table-footer">
        <div class="interval.container">
            <b>Total - {{ total }}, {{ query.interval }} items/page</b>
        </div>
        <div class="pagination-container">
            <pagination
                :query="query"
                :total="total"
            ></pagination>
        </div>
    </div>
</template>

<script>
    import Pagination from './Pagination'

    export default {
        name: "TheTableFooter",
        props: {
            total: { type: Number, required: true },
            query: { type: Object, required: true },
        },
        components: {
            Pagination,
        }
    }
</script>

<style scoped>
    .table-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 20px;
        box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    }
</style>
