<template>
    <div class="table-header">
        <div class="md-toolbar md-theme-default toolbox" style="z-index: 99;">
            <h1 class="md-title" v-if="title">{{ title }}</h1>
            <div class="tools">

            </div>
        </div>
        <div class="header-container" :class="{fixedHeader: maxHeight}">
            <div class="md-table datatable md-theme-default">
                <table>
                    <thead>
                    <tr class="md-table-row">
                        <th class="md-table-head"
                            v-for="(column, key) in columns"
                            :key="key"
                        >
                            <div class="md-table-head-container">
                                <div class="md-table-head-text md-test" :class="{ filled: filters[key] }">
                                    <span>{{ column || key }}</span>
                                    <div class="hidden-filter">
                                        <input type="text" @input="emitFilter($event, key)">
                                    </div>
                                </div>
                                <button type="button" class="md-button md-icon-button show-columns-icon md-theme-default sorting-button"
                                        @click="emitSort(key)">
                                    <i aria-hidden="true" class="md-icon md-theme-default material-icons" v-if="query.sort === key && query.order">arrow_upward</i>
                                    <i aria-hidden="true" class="md-icon md-theme-default material-icons" v-else>arrow_downward</i>
                                </button>
                            </div>
                        </th>
                        <th class="md-table-head row-actions">
                            <div class="md-table-head-container">
                                <div class="md-table-head-text md-test">
                                    Actions
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TheTableHeader",
        data: () => ({
            showColumnSettings: false,
        }),
        props: {
            columns: {type: Object, required: true,},
            title: {type: String, required: false,},
            maxHeight: {type: String, required: false,},
            query: {type: Object, required: true},
            filters: {type: Object, required: true},
        },
        methods: {
            emitSort(column) {
                this.$emit('sortChange', column);
            },
            emitFilter(event, filter) {
                this.$emit('filterChange', { key: filter, value: event.target.value });
            },
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
        top: 75px !important;
    }

    .row-checkbox {
        width: 45px;
    }

    .row-actions {
        width: 85px;
    }

    .select-container {
        background: #f2f2f2;
        color: #000;
        position: absolute;
        right: 35px;
        top: 55px;
        padding: 5px 10px;
        z-index: 99;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    .toolbox {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .fixedHeader {
        padding-right: 7px;
    }

    .header-container {
        background: #f2f2f2;
    }

    .tools {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .sorting-button {
        position: absolute;
        top: 9px;
        right: 0;
    }

    .sorting-button .md-icon {
        position: unset !important;
    }

    .md-table-head-text:hover .hidden-filter,
    .md-table-head-text.filled .hidden-filter {
        display: block;
    }

    .md-table-head-text:hover > span,
    .md-table-head-text.filled > span {
        display: none;
    }

    .hidden-filter {
        display: none;
    }

    .hidden-filter input {
        max-width: 80px;
        padding: 5px;
        margin-top: 2px;
    }
</style>
