<template>
    <tbody>
        <table-row
                v-for="(row, index) in data"
                :columns="columns"
                :row="row"
                :key="index"
                @edit="editEmit"
        >
        </table-row>
    </tbody>
</template>

<script>
    import TableRow from './TableRow'

    export default {
        name: "TheTableBody",
        components: {
            TableRow,
        },
        props: {
            columns: {type: Object, required: true,},
            data: {type: Array, required: true,},
        },
        data: () => ({
            checkedValues: [],
        }),
        methods: {
            editEmit(payload) {
                this.$emit('edit', payload)
            },
        }
    }
</script>

<style scoped>

</style>
