<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'app',
        mounted() {
            this.setData();
        },
        methods: {
            ...mapActions({setData: 'setData'}),
        }
    }
</script>

<style>

</style>
